<li class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= restaurant.name %>
    </h4>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-sm">
          <%= render "actions", restaurant: restaurant,  enabled: [:delete, :edit, :show] %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <b>Subdomain: </b>
        <%= restaurant.subdomain %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <b>Domain: </b>
        <%= restaurant.domain %>
      </div>
    </div>
  </div>
</li>
