#user_email {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#user_password {
  border-radius: 0;
}

#user_password_confirmation {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
